<!DOCTYPE html>
<html>
<head>
    <title>Group Details</title>
</head>
<body>
    <h1>{{ group.name }}</h1>

    <p>{{ group.description }}</p>

    <h2>Members:</h2>
    <ul>
        {% for member in group.members.all %}
            <li>{{ member.username }}</li>
        {% endfor %}
    </ul>

    <h2>Group Actions:</h2>
    <a href="{% url 'update_group' group.id %}">Edit Group</a>
    <a href="{% url 'delete_group' group.id %}">Delete Group</a>
    <a href="{% url 'group_list' %}">Back to Group List</a>
</body>
</html>
